<div class="post-list">
    {{#each post}}
    <div class="card">
        <div class="card-header">
            <h2><a href="/api/post/{{id}}">{{post_title}}</a></h2>
        </div>
        <div>
            <p>{{post_body}}</p>
            <p>posted by: {{user.display_name}}</p>
        </div>
    </div>
</div>
{{/each}}
<div class='row'>
    <h2 class='title-2'>Create a new post</h2>

<div class='upload-page'>
    <div class='container'>
        <div class='row'>
            <div class='col-2'>
                <div class='upload-form-container'>
                    <div class='form-btn'>

                    </div>
                    <form id='uploadForm'>
                        <input name='title' type='text' placeholder='Title' id='Title' />

                        <input name='body' type='text' placeholder='body' id='body' />

<br><br>
                        <button type='Upload' id="btn" class='btn'>Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src='./js/dashboard.js'></script>