<div class="card">
    <div class="card-header">
        <h2>{{post_title}}</h2>
    </div>
    <div>
        <h2>{{post_body}}</h2>
        <h5>posted by: {{user.display_name}}</h5>
        <p>date created: {{date_created}}</p>
    </div>
    </div>