<div class="card">
    <div class="card-header">
        <h2>{{post_title}}</h2>
    </div>
    <div>
        <h3>{{post_body}}</h3>
        <h6>posted by: {{user.display_name}}</h6>
    </div>
    </div>