:root {
    --light-blue: #6eccf0;
    --light-green: #7cca42;
    --green: #4ea37b;
    --red: #da5f4d;
    --purple: #a95da7;
    --yellow: #ffca2a;
    --light: #e3e4e3;
    --dark: #7d8087;
   --brown: #5a311d;
    --border-radius: 0.3rem;
  }
  